body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#4facfe;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    width:350px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
}

input,select,button{
    width:100%;
    padding:10px;
    margin-top:10px;
    margin-bottom:15px;
    border-radius:8px;
}

button{
    background:#007BFF;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

#result{
    text-align:center;
}